*{
    margin-top: 0;
    margin-left: 0;
}
header{
    align-items: center;
    display: flex;
    justify-content: space-between;
   
    box-shadow: 1px 2px 20px rgb(134, 133, 133);
}


#logo{  
    width: 7%;

}
.menu{
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}
.menu ul{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top:-1rem;
}
.menu ul li{
    padding: 0.5rem;
    list-style: none;
    
}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}
.menu ul li :hover{
    color: #6b7e57;
}
.locatio{
    flex: 1;
    
}
.locatio ul{
    display: flex;
    margin-left: 20%;
    align-items: center;
    margin-top: -1rem;
}
.locatio ul li{
    padding: 1rem;
    list-style: none;
    margin-right: 4rem;
}
.locatio ul li a:hover{
    color: #6b7e57;
}
.locatio ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#btn1{
    padding: 0.5rem 1.5rem;
    border: 1px solid black;
    border-radius: 2rem;
    font-weight: bold;
    margin-right: -5rem;
}
#btn2{
    padding: 0.5rem 2rem;
    border: 1px solid black;
    border-radius: 2rem;
    background-color: black;
    font-weight: bold;
    color: white;
}



/* Main */

.main{
    width: 90%;
    height: 80vh;
    background-color: gray;
    margin-top: 5vh;
    margin-left: 5rem;
    margin-right: -5rem;
    display: flex;
}
.left_main{
    width: 50%;
    height: 80vh;
    background-color: red;
}
.left_main img{
    width: 100%;
    height: 80vh;
}
.right_main{
    width: 50%;
    height: 80vh;
    background-color: #b5cc9c;
}
.right_main h1{
    text-align: center;
    margin-top: 10rem;
    font-size: 50px;
    font-family: sans-serif;
}
.right_main p{
    text-align: center;
    margin-left: 2rem;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: sans-serif;
}
#button{
    padding: 0.7rem 1.5rem;
    border: 1px solid black;
    border-radius: 2rem;
    font-weight: bold;
    margin-right: -5rem;
    background-color: #b5cc9c;
    margin-left: 40%;
}
#button a{
    text-decoration: none;
    color: black;
}
 #button :hover {
   text-decoration: underline;
    
}

.main_2{
    width: 90%;
    height: 50vh;
    background-color: rgb(71, 0, 249);
    margin-top: 5vh;
    margin-left: 5rem;
    margin-right: -5rem;
    display: flex;
}
.left_main2{
    width: 50%;
    height: 50vh;
    background-color: red;
}
.left_main2 img{
    width: 100%;
    height: 50vh;
}
.right_main2{
    width: 50%;
    height: 50vh;
    background-color: #cdccc0;
}
.right_main2 h1{
    text-align: center;
    margin-top: 5rem;
    font-size: 50px;
    font-family: sans-serif;
}
.right_main2 p{
    text-align: center;
    margin-left: 2rem;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: sans-serif;
    margin-top: -1.5rem;
}
#button{
    padding: 0.7rem 1.5rem;
    border: 1px solid black;
    border-radius: 2rem;
    font-weight: bold;
    margin-right: -5rem;
    background-color: #cdccc0;
    margin-left: 40%;
}
#button a{
    text-decoration: none;
    color: black;
}
 #button :hover {
   text-decoration: underline;
    
}
p{
    margin-top: 5rem;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}

/* footer */

.footer{
    width: 70%;
    height: 60vh;
    margin-left: 5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
div ul li{
    list-style: none;
    margin-top: 2rem;
}
div ul li a{
    text-decoration: none;
    color: rgb(125, 123, 123);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
#about{
    margin-left: 3rem;
    font-size: 20px;
    
}
#carrer{
    margin-left: 2.5rem;
    font-size: 20px;
}
#socail{
    margin-left: 2.5rem;
    font-size: 20px;
}
#business{
    margin-left: 2.5rem;
    font-size: 20px;
}
#order{
    margin-left: 2.5rem;
    font-size: 20px;
}